[Unit]
Description=Grafana Loki service
After=network.target

[Service]
Type=simple
ExecStart=/opt/loki/loki -config.file /opt/loki/loki.yml

[Install]
WantedBy=multi-user.target