[Unit]
Description=Grafana Promtail service
After=network.target

[Service]
Type=simple
ExecStart=/opt/promtail/promtail -config.file /opt/promtail/promtail.yml

[Install]
WantedBy=multi-user.target